.App {
  text-align: center;
}

.mainPage {
  margin-left: 5%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background : darkgrey;
  color: white;
  margin-bottom: 20px;
}

.navLinks { 
  width: 15%;
  display : flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}



.images {
    display: flex;
    justify-content: space-around;
    flex-wrap : wrap;
    min-width: 30%;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.search-bar{
  width:50%;
  padding :10px;
}

.date-search{
  padding :10px;
}

.search-button {
  background : grey;
  border: none;
  padding: 10px 20px;
  color : white;
}

.imageRender{
  border-radius: 10px;
  box-shadow: 0px 5px 20px grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background:white;
  align-items: center;
  min-width: 30% ;
}

.searchImages {
  max-width: 60%;
}

.roverData {
  float:right;
}